<html>
<head>
	<title>Sabiskar</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'music/css/indexstyle.css' %}" />
</head>
<body>
	
	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="{%url 'music:index'%}">HOME</a></li>
				<li><a href="{%url 'music:music'%}">MUSIC</a></li>
				<li></li><a href="#">SONGS</a></li>
				<li><a href="#">SONGS</a></li>
			</ul>
		</div>	
	</nav>
	
	<div class="clr"></div>
	<div class="container">
		<div class="box-1">
			<h1>Hello World</h1>
			<p>Standard Orders:Within Australia, Review sends parcels via the Australia Post E-Parcel service so please allow 3-7 business days for delivery.A signature is required upon delivery so please select an address where someone is available during business hours to receive your purchase.If there is nobody home to sign for the parcel, a notification card will be left at the delivery address advising that the parcel can be collected from a nearby Post Office.
			</p>
		</div>

		<div class="box-2">
			<h1>Goodbye World</h1>
			<p>Standard Orders:Within Australia, Review sends parcels via the Australia Post E-Parcel service so please allow 3-7 business days for delivery.A signature is required upon delivery so please select an address where someone is available during business hours to receive your purchase.If there is nobody home to sign for the parcel, a notification card will be left at the delivery address advising that the parcel can be collected from a nearby Post Office.
			</p>
			<a class="button" href="#">Read More >></a>
		</div>
		<div class="categories">
			<h2>Categories</h2>
			<ul>
				<li><a href="#">Category 1</a></li>
				<li><a href="#">Category 2</a></li>
				<li><a href="#">Category 3</a></li>
				<li><a href="#">Category 4</a></li>
			</ul>
		</div>
		<form class="myform">
			<div class="form-group">
				<label>Name</label>
				<input type="text" name="name">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" name="email">
			</div>
			<div class="form-group">
				<label>Message</label>
				<textarea name="message"></textarea>
			</div>
			<input class="button" type="submit" value="Submit" name="">
		</form>

		<div class="block">
			<h3>Heading</h3>
			<p>
				dfjkshajkdf dfsajhdj dhfjahsjkdhf dhfjkhsaj dfhjhsj efeh fdjhf dhjffhs sdfjks fdjkhf.fdssfsdfsdfdskjfd dfjk asueuirye cd sdfuuie dhfssf fss shfjks ehs was a grat teacher and awriter .
			</p>
		</div>
		<div class="block">
			<h3>Heading</h3>
			<p>
				dfjkshajkdf dfsajhdj dhfjahsjkdhf dhfjkhsaj dfhjhsj efeh fdjhf dhjffhs sdfjks fdjkhf.fdssfsdfsdfdskjfd dfjk asueuirye cd sdfuuie dhfssf fss shfjks ehs was a grat teacher and awriter .
			</p>
		</div>
		<div class="block">
			<h3>Heading</h3>
			<p>
				dfjkshajkdf dfsajhdj dhfjahsjkdhf dhfjkhsaj dfhjhsj efeh fdjhf dhjffhs sdfjks fdjkhf.fdssfsdfsdfdskjfd dfjk asueuirye cd sdfuuie dhfssf fss shfjks ehs was a grat teacher and awriter .
			</p>
		</div>
		<div class="clr"></div>
		<div id="main-block" >
			<h3>Heading</h3>
			<p>
				dfjkshajkdf dfsajhdj dhfjahsjkdhf dhfjkhsaj dfhjhsj efeh fdjhf dhjffhs sdfjks fdjkhf.fdssfsdfsdfdskjfd dfjk asueuirye cd sdfuuie dhfssf fss shfjks ehs was a grat teacher and awriter .
			</p>
		</div>
		<div id="sidebar">
			<p>
				dfjkshajkdf dfsajhdj dhfjahsjkdhf dhfjkhsaj dfhjhsj efeh fdjhf dhjffhs sdfjks fdjkhf.fdssfsdfsdfdskjfd dfjk asueuirye cd sdfuuie dhfssf fss shfjks ehs was a grat teacher and awriter .
			</p>
		</div>
		<div class="clr"></div>
		<div class="p-box">
			<h1>hello</h1>
			<h2>goodbye</h2>
		</div>
		<a class="fix-me button" href="#">fixed</a>
	</div>
	<div style="margin-top:500px;"></div>
</body>
</html>